name: Upload Python Package

on:
  push:
    tags:
    - 'v*'

permissions:
  id-token: write

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        uv sync

    - name: Build and publish
      run: |
        uv build
        uv publish
