name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    name: Pre commit
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        uv sync

    - name: Run pre-commit
      # v3.0.1
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd

  mypy:
    name: MyPy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        uv sync

    - name: Run MyPy
      run: |
        uv run mypy mypwd

  pytest:
    name: Test with pytest
    runs-on: ubuntu-latest
    needs: [pre-commit, mypy]

    steps:
    - uses: actions/checkout@v2

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        uv sync

    - name: Test with pytest
      run: |
        uv run pytest
