name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    name: Pre commit
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        uv sync

    - name: Run pre-commit
      # v3.0.1
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd

  unit-test:
    name: Test with pytest
    needs: [pre-commit]
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: [ '3.12', '3.13', '3.14' ]

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        uv sync

    - name: Test with pytest
      run: |
        uv run pytest
